body {
    margin: 0;
    font-size: 14px;
    font-family: "Noto Sans";
}

header {
    display: block;
}

footer {
    display: block;
}

.bg-black {
    background-color: #1b1f23;
}

.text-white {
    color: #fff;
}

.d-inline-block {
    display: inline-block !important;
}

.no-underline {
    text-decoration: none !important;
}

.flex-items-center {
    align-items: center !important;
}

.flex-justify-end {
    justify-content: flex-end !important;
}
